<div class='bg-success pt-4' style="height:100px;">
    <app-atom  type='O'></app-atom>
    <!-- <app-atom type="H" style="position:relative;bottom:25px;right:-75px"></app-atom> -->
    <!-- <app-bond degree=90></app-bond>
    <app-atom type="H" style="position:relative;bottom:-30px;right:-50px"></app-atom>
    <app-bond></app-bond>
    <app-atom type="H" ></app-atom>
    <app-atom type="N" ></app-atom>
    <app-atom type="C"></app-atom>
    <app-atom type="C" ></app-atom>
    <app-atom type="O" ></app-atom>
    <app-atom type="O"></app-atom>
    <app-atom type="H" style="position: relative;bottom:-30px;left:-117px"></app-atom> -->
</div>