<div class='d-inline-block'>
    <app-aminoacid></app-aminoacid>
    <app-atom type="C"></app-atom>
    <app-atom type="H"></app-atom>
    <app-atom type="H"></app-atom>
    <app-atom type="C"></app-atom>
    <app-atom type="C"></app-atom>
    <app-atom type="H"></app-atom>
    <app-atom type="C"></app-atom>
    <app-atom type="H"></app-atom>
    <app-atom type="C"></app-atom>
    <app-atom type="H"></app-atom>
    <app-atom type="C"></app-atom>
    <app-atom type="H"></app-atom>
    <app-atom type="C"></app-atom>
    <app-atom type="H"></app-atom>
    <br><app-label name="Phe" [attr.aria-label]='Fenilalanina' style='float:right'></app-label>
</div>
