  <h2 id="principalHeader" tabindex="0" >
    Buscador de proteínas
  </h2>
  <p tabindex="0">
    Digite abaixo o nome do identificador da proteína que você deseja buscar. O código consiste em 4 caracteres, sendo o primeiro um número, seguido de 3 letras:
  </p>
  <label for ="protein"class='mr-2'>
    Proteína: 
    <input id='protein' [(ngModel)]='pdbFile' type='text' >
  </label>
  <div id="successful" class="bg-success w-50 mx-auto" tabindex="0">
    <p  >
      Você buscou a proteína com sucesso!Favor,confirmar.<br>
      O ID da proteína buscada é {{pdbFile}}<br>
      O nome da proteína é {{ proteinName }}<br>
      Você deseja continuar para o visualizador ?
    </p>
    <nav>
      <ul>
        <li><button tabindex="0" routerLink = '/proteinView' class="btn bg-primary text-white mb-2">Sim,continuar</button></li>
        <li><button tabindex="0" (click) = "cancelSearch()" (keydown) = "$event.keyCode == 13 ? cancelSearch():null " class="btn bg-primary text-white">Não, não continuar</button></li>
      </ul>
    </nav>
  </div>
  <nav>
    <ul>
      <li><button  tabindex ='0' id="btnSearch" class=' btn bg-primary text-white' (click)="requestProtein()"   (keydown)="$event.keyCode == 13 ? requestProtein() : null">Procurar proteína</button></li>
          <p tabindex='0' id="messageError" class="bg-danger text-white w-25 rounded mt-2 ml-auto mr-auto" ></p>
      <li><button tabindex='0' id="buttonBack" class='btn bg-primary text-white' routerLink="/menu">Voltar para o menu principal</button></li>
    </ul>
  </nav>
