  <h2 id="principalHeader" tabindex="0" >
    Buscador de proteínas
  </h2>
  <p tabindex="0">
    Digite abaixo o nome do identificador da proteína que você deseja buscar:
  </p>
  <label for ="protein"class='mr-2'>
    Nome da Proteína: 
    <input id = "protein" name='protein' [(ngModel)]='pdbFile' type='text' (keydown) = "$event.keyCode == 13 ? requestProtein(): null" />
  </label>
  <nav>
    <ul>
  <li><a  tabindex ='0' class=' btn bg-primary text-white' (click)="requestProtein()"   (keydown)="$event.keyCode == 13 ? requestProtein() : null">Procurar proteína</a></li>
      <p tabindex='0' id="messageError" class="bg-danger text-white w-25 rounded mt-2 ml-auto mr-auto" ></p>
  <li><a tabindex='0' id="buttonBack" class='btn bg-primary text-white' routerLink='/menu'  (keydown)="backButtonVerify($event)">Voltar para o menu principal</a></li>
    <ul>
  <nav>