section{
    width:95%;
    margin: 0 auto;
    text-align: center;
    min-height:100vh;
}
img{
    width: 30%;
    height: 35%;
}
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}