<section>
    <img role="banner" tabindex="0" style="width: 14vw;height: 40vh;" src="assets/labioLogo.png" alt="Logo do LABIO Laboratório de BioInformática, Modelagem e Simulação de Biossistemas. Escola Politécnica PUCRS" />
    <h1 tabindex="0">
            WalkingMOL
    </h1>
    <p style="font-size: 1.2em">
        Bem vindo ao WalkingMOL, uma ferramenta acessível para navegação de estruturas tridimensionais de proteínas.
    </p>
    <div>
        <router-outlet></router-outlet>
    </div>
</section> 
