<div class='d-inline-block'>
  <app-aminoacid></app-aminoacid>
  <app-atom type="O"></app-atom>
  <app-atom type="H"></app-atom>
  <app-atom type="C"></app-atom>
  <app-atom type="C"></app-atom>
  <app-atom type="C"></app-atom>
  <app-atom type="C"></app-atom>
  <app-atom type="C"></app-atom>
  <app-atom type="C"></app-atom>
  <app-atom type="H"></app-atom>
  <app-atom type="H"></app-atom>
  <app-atom type="H"></app-atom>
  <app-atom type="H"></app-atom>
  <app-atom type="C"></app-atom>
  <app-atom type="H"></app-atom>
  <app-atom type="H"></app-atom>
  <br><app-label #label name="Tyr" aria-label="Tirosina" style='float:right'></app-label>
  </div>