<table class='mx-auto' summary="" id="" tabindex='0'>
    <thead>
     <tr>
      <th scope="col" tabindex='1'>Autores</th>
      <th scope="col" tabindex='3'>Experimento realizado</th>
      <th scope="col" tabindex='5'>Classificação</th>
      <th scope="col" tabindex='7'>Data de upload</th>
      <th scope="col" tabindex='9'>Versão da proteína</th>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td tabindex='2'>{{pdbContent['authors']}}</td>
      <td tabindex='4'>{{pdbContent['experiment']}}</td>
      <td tabindex='6'>{{pdbContent['classification']}}</td>
      <td tabindex='8'>{{pdbContent['dep_date']}}</td>
      <td tabindex='10'>{{pdbContent['version']}}</td>
     </tr>
    </tbody>
   </table>