<div class='d-inline-block'>
  <app-aminoacid></app-aminoacid>
  
  <app-label-atom _initials='H'></app-label-atom>
  <app-label-atom _initials='N'></app-label-atom>
  <app-label-atom _initials='C'></app-label-atom>
  <app-label-atom _initials='N'></app-label-atom>
  <app-label-atom _initials='H'></app-label-atom>
  <app-label-atom _initials='H'></app-label-atom>
  <app-label-atom _initials='N'></app-label-atom>
  <app-label-atom _initials='C'></app-label-atom>
  <app-label-atom _initials='H'></app-label-atom>
  <app-label-atom _initials='H'></app-label-atom>
  <app-label-atom _initials='C'></app-label-atom>
  <app-label-atom _initials='H'></app-label-atom>
  <app-label-atom _initials='H'></app-label-atom>
  <app-label-atom _initials='H'></app-label-atom>
  <app-label-atom _initials='C'></app-label-atom>
  <app-label-atom _initials='H'></app-label-atom>
  <app-label-atom _initials='H'></app-label-atom>
  </div>