<div class='d-inline-block'>
    <app-aminoacid></app-aminoacid>
    <app-atom type="C"></app-atom>
    <app-atom type="C"></app-atom>
    <app-atom type="C"></app-atom>
    <app-atom type="C"></app-atom>
    <app-atom type="C"></app-atom>
    <app-atom type="C"></app-atom>
    <app-atom type="C"></app-atom>
    <app-atom type="C"></app-atom>
    <app-atom type="H"></app-atom>
    <app-atom type="H"></app-atom>
    <app-atom type="H"></app-atom>
    <app-atom type="H"></app-atom>
    <app-atom type="H"></app-atom>
    <app-atom type="H"></app-atom>
    <app-atom type="H"></app-atom>
    <app-atom type="H"></app-atom>
    <app-atom type="H"></app-atom>
    <app-atom type="N"></app-atom>
    <br><app-label #label name="Trp" style='float:right'></app-label>
    </div>