<div class='text-center container'>
  <h2 tabindex="0" aria-label="Menu Principal Use a tecla TAB para navegar entre as opções disponíveis e use ESPAÇO para escolher o botão desejado.">
    Menu de Testes 
  </h2>
<nav>
  <ul id="menuList">
    <li><button  tabindex ='0' class="btn btn-primary w-25"  (click)="request('triangulo')"  >Abrir primeira figura</button></li>    
    <li><button  tabindex ='0' class="btn btn-primary w-25"  (click)="request('quadrado')"  >Abrir segunda figura</button></li>    
    <li><button  tabindex ='0' class="btn btn-primary w-25"  (click)="request('junina')"  >Abrir terceira figura</button></li>    
    <li><button  tabindex ='0' class="btn btn-primary w-25"  (click)="request('trapezio')"  >Abrir quarta figura</button></li>    
    <li><button  tabindex ='0' class="btn btn-primary w-25"  (click)="request('losango')"  >Abrir quinta figura</button></li>    
    <li><button  tabindex ='0' class="btn btn-primary w-25"  routerLink='/menu'  >Voltar para menu principal</button></li>    
</ul>
</nav>
</div>