<div class='text-center container'>
  <h2 tabindex="0" id="header">
    Menu de Testes 
  </h2>
<nav>
  <ul id="menuList">
    <li><a  tabindex ='0' class="btn btn-primary w-25"  (click)="request('triangulo')"(keydown.enter)="request('triangulo')"  >Abrir primeira figura</a></li>    
    <li><a  tabindex ='0' class="btn btn-primary w-25"  (click)="request('quadrado')" (keydown.enter)="request('quadrado')">Abrir segunda figura</a></li>    
    <li><a  tabindex ='0' class="btn btn-primary w-25"  (click)="request('trapezio')" (keydown.enter)="request('trapezio')">Abrir terceira  figura</a></li>    
    <li><a  tabindex ='0' class="btn btn-primary w-25"  (click)="request('losango')"  (keydown.enter)="request('losango')" >Abrir quarta figura</a></li>    
    <li><a  tabindex ='0' class="btn btn-primary w-25"  routerLink='/menu'  >Voltar para menu principal</a></li>    
</ul>
</nav>
</div>