<div class='text-center container'>
    <h2 id="menuLock" tabindex="0">
      Menu principal 
    </h2>
  <nav>
    <ul id="menuList">
      <li><button tabindex='0' class='btn bg-primary text-white' routerLink='/buscador' >Abrir buscador de proteína</button></li>
      <li><button tabindex='0' class='btn bg-primary text-white' routerLink='/manual'>Abrir manual</button></li>
      <li><button tabindex='0' class='btn bg-primary text-white' routerLink='/testes' >Abrir Testes</button></li>
  </ul>
  </nav>
</div>