<div class='text-center container'>
    <h2 id="menuLock" tabindex="0" aria-label="Menu Principal Use a tecla TAB para navegar entre as opções disponíveis e use ENTER para escolher o botão desejado.">
      Menu principal 
    </h2>
  <nav>
    <ul id="menuList">
      <li><a tabindex='0' class='btn bg-primary text-white' routerLink = '/buscador' >Abrir buscador de proteína</a></li>
      <li><a tabindex='0' class='btn bg-primary text-white' routerLink ='/manual' (keydown) = 'lastMenuVerify($event)'>Abrir manual</a></li>
  </ul>
  </nav>
</div>