p{
    text-align: center;
    padding:0 10vw;
    letter-spacing: 1px;
    font-size: 1.2em;
}
nav *,span {
    color:blue;
    cursor:pointer;    
}
nav{
    border:thin solid black;
    border-bottom:none;
}
nav ul, .submenu ul {
    list-style-type: none;
    padding : 0;
}
section p {
    text-align: left;
    padding:0 1px;
}
.title{
    font-size: 1.5em;
    border-bottom:thin solid black;
    text-indent: 2em;
}
.subtitle{
    font-size: 1.1em;
    text-indent: 3.5em;
    border-bottom:thin solid black;
}
.submenu{
    border:none;
}   