/* .modal-body{
  /* padding: 0 80px; */

/* } */
*{
  max-width: none;
  max-height: none;

}
 .modal-dialog{ 
  width:90vw;
  height: 90vh;
  background:blue;
  padding:40px;
}
.modal-content{
  width:80%;
  height: 80%;
  text-align: center;
  background:yellow;
}
.modal-body{
  width: inherit;
  height: inherit;
}
/* .modal-footer{ */
  /* bottom:0; */
  /* position:absolute; */
  /* right: 0; */
  /* border-top: none; */
/* } */