.modal-body{
  /* padding: 0 80px; */

}
.modal-dialog{
  width:1000px;
  max-width: none;
}
.modal-content{
  width:1000px;
  max-width: none;
  text-align: center;
  height: 30vh;
}
.modal-footer{
  bottom:0;
  position:absolute;
  right: 0;
  border-top: none;
}