/* .modal-body{
  /* padding: 0 80px; */

/* } */
*{
  max-width: none;
  max-height: none;

}
 .modal-dialog{ 
  width:100vw;
  height: 100vh;
  padding:40px;
}
.modal-content{
  width:100%;
  height: 100%;
  text-align: center;
}
.modal-body{
  width: inherit;
  height: inherit;
}
/* .modal-footer{ */
  /* bottom:0; */
  /* position:absolute; */
  /* right: 0; */
  /* border-top: none; */
/* } */