<div class='d-inline-block'>
  <app-aminoacid></app-aminoacid>
  <app-atom type="C"></app-atom>
  <app-atom type="H"></app-atom>
  <app-atom type="H"></app-atom>
  <app-atom type="H"></app-atom>  
  <app-atom type="S"></app-atom>
  <app-atom type="C"></app-atom>
  <app-atom type="H"></app-atom>
  <app-atom type="H"></app-atom>
  <app-atom type="C"></app-atom>
  <app-atom type="H"></app-atom>
  <app-atom type="H"></app-atom>
  <br><app-label #label name="Met"  style='float:right'></app-label>
  </div>